:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 42%);
    --dark-gray: hsl(0, 0%, 7%)
}

@font-face {
    font-family: FigtreeItalic;
    src: url('../assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Figtree;
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf');
}

body {
    font-size: 14px;
    font-family: Figtree;
    margin: 0;
}

.background-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
}

.card-container {
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid var(--dark-gray);
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px var(--dark-gray);
    box-sizing: border-box;
    padding: 16px;
}

.illustration-article-container {
    flex: 0 0 auto;
}

.illustration-article-container > img {
    width: 100%;
    border-radius: 10px;
}

.data-article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-top: 16px;
}

.topic-container {
    width: fit-content;
    padding: 4px 8px;
    background-color: var(--yellow);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 800;
}

p {
    margin: 0;
}

h1 {
    margin: 8px 0;
    font-size: 22px;
}

h1:hover {
    color: var(--yellow);
    cursor: pointer;
}

.author-container > img {
    width: 25px;
}

.author-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.description-container > p {
    color: var(--light-gray);
}

.author-container > p {
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    .card-container {
        height: 350px;
        width: 280px;
        margin-right: 8px;
    }

    .data-article-container {
        padding-top: 8px;
    }

    h1 {
        font-size: 20px;
    }
}